@charset "UTF-8";
/*新的基础样式*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 整站通用样式 全站兼容标准IE8+*/
* {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei;
  font-style: normal;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
q {
  quotes: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a img {
  border: 0;
}
.common {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
input::-ms-clear {
  display: none;
}
/*下边三个占位符一定不能写在一起，不然会失效*/
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
::-webkit-input-placeholder {
  color: #999;
}
:focus,
:invalid {
  outline: none;
}
textarea {
  resize: none !important;
}
.clearfix {
  clear: both !important;
  float: none !important;
  zoom: 1\9;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
/*禁用*/
.disabled,
[disabled] {
  cursor: not-allowed !important;
}
body {
  font-family: Microsoft Yahei;
}
.nav {
  height: 100px;
  line-height: 100px;
}
.nav h1 {
  float: left;
  font-weight: bold;
  font-size: 30px;
}
.nav h1 .leftlogo {
  color: #ffc001;
}
.nav h1 .rightlogo {
  color: #ccc;
  margin-left: 10px;
}
.nav ul {
  float: right;
}
.nav ul li:hover > a,
.nav ul .cur a {
  color: #ffc001;
}
.nav ul li {
  float: left;
  text-align: center;
  width: 120px;
}
.nav ul li > a {
  font-size: 16px;
  color: #161616;
}
.nav ul .textarea {
  position: relative;
}
.nav ul .textarea:hover .area {
  display: block;
}
.nav ul .textarea .area {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 80px;
  display: block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  background: #ffc001;
  display: none;
}
.nav ul .textarea .area:before {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffc001;
  position: absolute;
  top: -10px;
  left: 50px;
}
.nav ul .textarea .area a {
  color: #fff;
}
.ap img {
  width: 100%;
}
.child {
  background: url(images/gsbg.jpg);
  height: 773px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 150px;
}
.child h3 {
  font-size: 38px;
  color: #ffc001;
  font-weight: bold;
  line-height: 70px;
}
.child p {
  font-size: 14px;
  color: #666;
  line-height: 42px;
  margin-top: 50px;
}
.pp {
  box-sizing: border-box;
  padding-top: 130px;
  height: 750px;
}
.pp .ppleft {
  width: 50%;
  float: left;
}
.pp .ppleft:hover {
  animation: bg 0.5s ;
}
@keyframes bg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.pp .ppright {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 30px;
}
.pp .ppright h3 {
  color: #666;
  font-size: 36px;
  line-height: 65px;
  font-weight: bold;
}
.pp .ppright h4 {
  font-size: 36px;
  color: grey;
  line-height: 80px;
}
.pp .ppright p {
  width: 485px;
  height: 205px;
  display: block;
  background: #7d92a5;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  box-sizing: border-box;
  padding: 40px 30px 0;
  margin-top: 60px;
}
.no1 {
  height: 1254px;
  background: url(images/gs8.jpg);
}
.no1 .common {
  box-sizing: border-box;
  padding: 120px 102px;
}
.no1 .common ul li {
  float: left;
  width: 50%;
  height: 338px;
  text-align: center;
}
.no1 .common ul li h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;
  color: #333;
  margin-top: 80px;
}
.no1 .common ul li p {
  clear: both;
  font-size: 18px;
  line-height: 42px;
  color: #333;
}
.no1 .common ul li span {
  display: block;
  width: 38px;
  border: 1px solid #333;
  margin: 20px auto;
}
.ll {
  height: 1204px;
  text-align: center;
  box-sizing: border-box;
  padding: 150px 80px;
}
.ll h3 {
  font-size: 36px;
  color: #333;
  font-weight: bold;
  line-height: 80px;
}
.ll span {
  display: block;
  height: 55px;
  width: 1px;
  border-left: 2px solid #333;
  margin: 20px auto 0;
}
.ll > p {
  font-size: 26px;
  color: #333;
  line-height: 28px;
  margin-top: 50px;
}
.ll .llleft {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-top: 100px;
}
.ll .llright {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-top: 130px;
}
.ll .llright p {
  color: #333;
  font-size: 14px;
  line-height: 35px;
  margin-top: 30px;
}
.footer {
  height: 275px;
  background: #414141;
  text-align: center;
  box-sizing: border-box;
  padding: 30px 0;
}
.footer ul {
  width: 440px;
  margin: 20px auto;
}
.footer ul li {
  float: left;
  width: 20%;
}
.footer ul li a {
  color: #aaa;
  font-size: 12px;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
  padding-right: 20px;
}
.footer p {
  clear: both;
  line-height: 70px;
  font-size: 12px;
  color: #aaa;
}
.footer p a {
  color: #aaa;
}
